<div class="container py-4">
  <div class="row justify-content-center">
    <div class="col-12 col-md-10 col-lg-8">
      <section class="card shadow rounded-3">
        <div class="card-body">
          <h1 class="card-title">Acerca de</h1>
          <p class="card-text">
            Página para manejar recursos humanos empresariales.
          </p>
          <a class="btn btn-secondary mt-3" href="/auth/signin" role="button">Iniciar sesión</a>
        </div>
      </section>
    </div>
  </div>
</div>
