<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-10 col-lg-8">
      <section class="card">
        <div class="card-body">
          <h1>Acerca de</h1>
          <p>
            La Asamblea General de Coordinadores es el evento m치s importante de car치cter deliberativo dentro del Movimiento. En la Asamblea General profundizamos en nuestra propuesta formativa, retomamos opciones pedag칩gicas y metodol칩gicas para nuestro trabajo, se revisan los principios y reglamento de todo el Movimiento, entre otros aspectos relevantes.
          </p>
        </div>
      </section>
    </div>
  </div>
</div>