<div class="row">
  <div class="col-md-4 mx-auto">
    <div class="card mt-5 custom-card rounded">
      <div class="card-header text-center pt-5">
        <h1 class="h4">
           Secci贸n en Construcci贸n 
        </h1>
      </div>
      <img
        class="mx-auto d-block logo m-4"
        src="/img/logo.png"
        alt="Logo"
        style="max-width: 150px; height: auto;"
      />
      <div class="card-body text-center">
        <p>Tu registro fue exitoso.</p>
        <p>Estamos trabajando en esta secci贸n. Vuelve pronto para m谩s novedades.</p>
        <p>Se envi贸 un c贸digo QR a tu correo. Por favor, no lo pierdas, pues te servir谩 para ingresar al evento.</p>
        <p>Si no lo encuentras, recuerda revisar tu carpeta de spam.</p>
      </div>
      <div class="text-center pb-3">
        <a href="/auth/logout" class="btn btn-danger">Cerrar Sesi贸n</a>
      </div>
    </div>
  </div>
</div>
